<div class="gaiyou">
<table id="table01">
 <tr>
    <th>社名</th>
    <td>株式会社Cirkit</td>
  </tr>
  <tr>
    <th>連絡先</th>
    <td>秘密</td>
  </tr>
  <tr>
    <th>設立</th>
    <td>2006年4月</td>
  </tr>
  <tr>
    <th>代表取締役</th>
    <td>泉屋　吉伸</td>
  </tr>
  <tr>
    <th>所在地</th>
    <td>石川県野々市市扇が丘7-1</td>
  </tr>
  <tr>
    <th>アクセス</th>
    <td> 野々市工大前駅より、<br>徒歩8分 </td>
  </tr>
</table>
</div>