<div class="main">
    <div class="first-view">
        <div class="first-view-text">
          <h1>Dream come true</h1>
          <p>あなたの作品が世界に</p>
        </div>
    </div>
        <div class="lead">
          <p>誰でも気軽に作品を投稿できるサイトです。<br>イラストでも写真でも、どんななものでも世界に共有できます。<br>さあ投稿しましょう!!</p>
          <div class="link-button-area">
            <%= link_to '投稿', '/posts/index', class: 'link-button' %>
          </div>
        </div>
    </div>
  </div>

