<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>空想.jpg</title>
<section class="layout">
<head>
  <div class="header">
    <div class="header-inner">
        <a class="header-logo" href="/top">
            <img src="/logo-header.png">
        </a>
        <nav class="header-list">
            <ul>
                <li>投稿</li>
                <li>概要</li>
                <li>お問い合わせ</li>
            </ul>
        </nav>
     </div>
    </div>
  </div>
</head>
<body>
  <div class="main">
    <div class="first-view">
        <div class="first-view-text">
        </div>
    </div>
  </div>
</body>
  <div class="footer">
    <nav class="footer-list">
            <ul>
                <li>投稿</li>
                <li>概要</li>
                <li>お問い合わせ</li>
            </ul>
        </nav>
        　<a class="footer-logo" href="/top">
            <img src="/logo-header.png">
        </a>
        <p class="copyright"><small>&copy;Kissa</small></p>
  </div>
</section>
