* {
    box-sizing: border-box;
  }
  
  html {
    font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
  }
  
  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: #2d3133;
    font-size: 14px;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
  input {
    background-color: transparent;
    outline-width: 0;
  }
  
  form input[type="submit"] {
    border: none;
    cursor: pointer;
  }

 
  
  .header { grid-area: header; background-color: #fffffe;}
  .main { grid-area: main; background-color: #fffffe;}
  .footer { grid-area: footer; background-color: #ffffee;}

  .header-logo{
    float: left;
    display: block;
    width: 170px;
    mix-blend-mode: multiply
  }

  li {
    float: left;
  }

  img {
    max-width: 100%;
  }

 body {
    font-family: sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1;
 }

 .header-inner {
    max-width: 1200px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-left:  0px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .header-list {
    display: flex;
 }

 .header-list ul li {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    font-size: 30px;
 }

 .footer-list ul{
    display: flex;
 }

 .footer-list ul li {
    margin-left: 20px;
    margin-right: 20px;
 }

 .footer {
    color: black;
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .footer-logo {
    display: block;
    width: 235px;
    margin-top: 90px;
    mix-blend-mode: multiply
 }
 .copyright {
    font-size: 14px;
    font-weight: bold;
    margin-top: 90px;
 }

.first-view {
  height: calc(100vh - 110px);
  background-image: url("/be-main.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.first-view-text {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  padding-bottom: 80px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 10px #4b2c14;
}

.first-view-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 56px;
  line-height: 72px;
}

.first-view-text p {
  font-size: 18px;
  margin-top: 20px;
}

.lead {
  max-width: 1200px;
  margin: 60px auto;
  font-family: 'Montserrat', sans-serif;
}

.lead p {
  line-height: 2;
  text-align: center;
}

.link-button-area {
  text-align: center;
  margin-top: 40px;
}

.link-button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 24px;
  min-width: 180px;
  line-height: 48px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.link-button:hover {
  background-color: #627295;
}
.link-button:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.link-c:hover {
  background: #c0c0c0;
}

.fifth-view-text {
  h2 {
    position: relative;
    display: inline-block;
    padding: 0 55px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  h2:before, h2:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: black;
  }
  
  h2:before {
    left:0;
  }
  h2:after {
    right: 0;
  }
}

.fifth-view-text p {
  display:flex;
  align-items: center;
  justify-content: center;
}

.fifth-view-pixiv {
  font-size: 90px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  font-weight: bold;
  text-shadow: 1px 1px 5px #db1627;
  color: #000000;
}

/* table01 */
#table01 tr {
  border-bottom: 1px solid #b5b1b1;
}

#table01 th,
#table01 td {
  padding: 24px 0;
  border: thick double;
}

#table01 th {
  width: 30%;
}

/* sp */
@media only screen and (max-width: 480px) {
  #table01 th,
  #table01 td {
    width: 100%;
    display: block;
  }

  #table01 th {
    width: 100%;
  }

  #table01 td {
    padding-top: 0;
  }
}

.gaiyou {
  display:flex;
  align-items: center;
  justify-content: center; 
}