
<div class="third-view">
<div class="third-view-text">
<h1>投稿一覧</h1>
</div>
<div id="uploads">
<div class="content-img">
  <% @uploads.each do |upload| %>
     <p>
      <%= link_to image_tag("#{upload.image}"), upload %>
    </p>
  <% end %>
</div>
</div>
</div>
<%= link_to "投稿する", new_upload_path %>